html, body
{
    height: 100%;
    margin:0;
    padding:0;
}

body{
  background: url("../assets/login_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Whitney", san-serif;
  color: white;
}

.login-overlay{
  margin: 8% auto;
  width: 500px;
  top: 50%;
}

.login-form{
  z-index: 100;
  margin-top: -90%;
  color: #ffffff;
}

form{
  margin: 10px 10px;
}

/*
div {
    position:relative;
    height: 100%;
    width:100%;
}

/*div img {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}*/
